*
!*.md
!.gitignore
!.cargo/
!.cargo/**
!.envrc
!.github/
!.github/**
!.luarc.json
!CHANGELOG.md
!CODE_OF_CONDUCT.md
!CONTRIBUTING.md
!Cargo.lock
!Cargo.toml
!LICENSE
!LICENSE-ICONS
!README.md
!assets/
!assets/**
!cspell.json
!flake.lock
!flake.nix
!nix/
!nix/**
!rustfmt.toml
!scripts/
!scripts/**
!snap/
!snap/**
!stylua.toml
!yazi-actor/
!yazi-actor/**
!yazi-adapter/
!yazi-adapter/**
!yazi-binding/
!yazi-binding/**
!yazi-boot/
!yazi-boot/**
!yazi-build/
!yazi-build/**
!yazi-cli/
!yazi-cli/**
!yazi-codegen/
!yazi-codegen/**
!yazi-config/
!yazi-config/**
!yazi-core/
!yazi-core/**
!yazi-dds/
!yazi-dds/**
!yazi-emulator/
!yazi-emulator/**
!yazi-ffi/
!yazi-ffi/**
!yazi-fm/
!yazi-fm/**
!yazi-fs/
!yazi-fs/**
!yazi-macro/
!yazi-macro/**
!yazi-packing/
!yazi-packing/**
!yazi-parser/
!yazi-parser/**
!yazi-plugin/
!yazi-plugin/**
!yazi-proxy/
!yazi-proxy/**
!yazi-runner/
!yazi-runner/**
!yazi-scheduler/
!yazi-scheduler/**
!yazi-sftp/
!yazi-sftp/**
!yazi-shared/
!yazi-shared/**
!yazi-shim/
!yazi-shim/**
!yazi-term/
!yazi-term/**
!yazi-tty/
!yazi-tty/**
!yazi-vfs/
!yazi-vfs/**
!yazi-watcher/
!yazi-watcher/**
!yazi-widgets/
!yazi-widgets/**

.DS_Store
/.direnv/
/.idea/
/.vscode/
/.codex
/result
/result-*
/target/
/tmp/
/scripts/validate-form/node_modules/
/yazi-boot/completions/
/yazi-cli/completions/
